h1 {
    text-align: center;
}


/*   
// code game-board using a table 
table {
    float: right;
    margin-right: 30%;
}

td {
    width: 10em;
    height: 10em;
}

td:nth-of-type(2) {
    
}

tr:nth-of-type(2) td {
    border-top-style: solid;
    border-bottom-style: solid;
}

*/

#board {
    overflow: hidden;
    text-align: center;
}

div.row {
    overflow: hidden;
    display: inline-block;
}

div.row:nth-of-type(2),
div.row:nth-of-type(3) {
    margin-top: -.3em;
}

div.row > div {
    float: right;
    border: 1.5px solid black;
    width: 10em;
    height: 10em;
}

div.row > div:nth-of-type(2) {
    border-top-style: solid;
    border-bottom-style: solid;
}
